
@media only screen and (min-width:0px) and (max-width:767px) {
	h1{
		font-size: 30px;
	}
	h2{
		font-size: 27px;
	}
	h3{
		font-size: 24px;
	}
	h4{
		font-size: 22px;
	}
	h5{
		font-size: 20px;
	}
	h6{
		font-size: 16px;
	}
	/*---------Header Css---------------*/
	.header-top-bar{
		display: none;
	}
    .h2 {
    margin-top: 6em;
}
.h3{
    margin-bottom: 30px;
}
}

/* Extra large devices (large desktops, 1800px and up) */
@media (max-width: 1800px) {


}
@media (min-width: 1200px){ 
.our-plan1 img {
    width: 100%;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {

   
}
}
  
/* Extra large devices (large desktops, 1800px and up) */
@media (max-width: 1440px) {


}

 
@media (max-width: 1024px){
	.our-plan1 img {
    width: 100%;
}
.about-sec1 img {
    width: 100%;
    height: 600px;
}
.banner-text {
    background-image: url(../images/rectangle1.png);
    background-repeat: no-repeat;
    height: 450px;
    left: 0px;
    top: 0;
    color: #f2f2f2;
    font-size: 15px;
    padding: 100px 20px;
    position: absolute;
}
.about-us img {
    width: 100%;
    height: 600px;
}
.sec-line img {
    width: 100%;
}
}
@media (max-width: 992px){

}
  
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .carity2img{
    margin-top: 130px;
}
 .my-5 {
    margin-top: 2rem !important;
   

}
.contact-form-img img {
    width: 100%;
        
}
.contact-form1 {
    padding: 20px 0;
}

.About-banner {
    background-image: url(../images/Banner-about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 99px 0px;
}
.banner-text {
    background-image: url(../images/rectangle1.png);
    background-repeat: no-repeat;
    height: 362px;
    left: 0px;
    top: 0;
    color: #f2f2f2;
    font-size: 15px;
    padding: 40px 20px;
    position: absolute;
}
.arrowbtn a {
    color: #ffffff;
    text-decoration: none;
    background: #f26522;
    padding: 10px 10px;
    border-radius: 50%;
}
.our-plan1 img {
    width: 100%;
    height: 944px;
}
.our-plan {
    position: relative;
    left: 80px;
    z-index: 99;
    margin-top: 50px;
}
.about-sec1 img {
    width: 100%;
    height: 700px;
}
.mb-2 {
    width: 100%;
}
.about-us img {
    width: 100%;
    height: 700px;
}
.adbanner {
    display: flex;
    padding: 0px 5em;
}
.img-fluid  {
    width: 100%;
}
.logos img {
    width: 100%;
    padding: 0px 60px;
}
.Poppins-font {
    font-size: 15px;
}
.sec-line img {
    width: 100%;
}
.user-box {
    margin: 0px 0 0px 0;
    display: block;
    padding: 10px 0px 10px 0px;
}


.submit button {
    width: 83%;
    padding: 6px 0px;
    border: none;
    background: #F26522;
    color: #FFF;
    font-size: 20px;
    border-radius: 6px;
    font-weight: 600;
}
}
/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 375px) and (max-width: 767px) {
 .arrowbtn a {
    color: #ffffff;
    text-decoration: none;
    background: #f26522;
    padding: 4px 4px;
    border-radius: 50%;
}
.arrowbtn {
    width: 10%;
    position: relative;
    bottom: 50px;
    left: 40%;
}
.about-sec {
    background: #25272E;
    padding: 26px 0;
}


.banner-rectangle-text {
    margin-top: 200px;
}
.contact-form-img img {
    width: 100%;
        
}

.my-5 {
    margin-top: 27rem !important;
    }
    .about-sec1 img {
    width: 100%;
}
.contact-form1 {
    padding: 20px 0;
}
.adbanner {
    display: flex;
    padding: 60px 0em;
}
.banner-text {
    background-image: url(../images/rectangle1.png);
    background-repeat: no-repeat;
    height: 450px;
    left: 0px;
    top: 0;
    color: #f2f2f2;
    font-size: 15px;
    padding: 20px 20px;
    position: absolute;
}
.row {
    margin: 0;
  
}
.causes-box {
    background: #F3F0EA;
    margin: 11px 0;
}
.our-plan1 img {
    width: 100%;
}
.our-plan {
    position: relative;
    left: 0px;
    z-index: 99;
     margin-top:0;
}
.logos img {
    width: 100%;
    padding: 0px 60px;
}

.img-fluid1-mb-2 {
    width: 100px;
}
.about-us img {
    width: 100%;
}
.img-fluid  {
    width: 100%;
}
.contact-us {
    text-align: center;
    padding: 25px 5px;
    /* border: 1px solid; */
    box-shadow: 0 0 5px 0px #b7b3b3;
    margin: 0 0 20px 0;
}
.charity-help-content p {
    font-size: 11px;
    font-weight: 600;
}
.charity-help-content span {
    font-size: 11px;
    color: gray;
    font-weight: 600;
}
.About-banner {
    background-image: url(../images/Banner-about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 36px 0px 36px 0;
}
.pure-water-txt h3 {
    font-size: 28px;
    font-weight: 700;
    padding: 20px 0;

}
.sec-line img {
    width: 100%;
}
.f-menu li {
    color: #fff;
    display:block;
    list-style: none;
}
.Comment-sec {
    display: block;
    padding: 0 0 50px 0;
}
.reply span {
    padding: 0px 0 0px 6em;
}
.Comment {
    padding: 30px 0 30px 0;
}

}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  .arrowbtn a {
    color: #ffffff;
    text-decoration: none;
    background: #f26522;
    padding: 3px 3px;
    border-radius: 50%;
}
.arrowbtn {
    width: 10%;
    position: relative;
    bottom: 50px;
    left: 40%;
}
.about-sec {
    background: #25272E;
    padding: 26px 0;
}



.banner-rectangle-text {
    margin-top: 200px;
}
.adbanner {
    display: flex;
    padding: 60px 0em;
}
.banner-text {
    background-image: url(../images/rectangle1.png);
    background-repeat: no-repeat;
    height: 450px;
    left: 0px;
    top: 0;
    color: #f2f2f2;
    font-size: 15px;
    padding: 20px 20px;
    position: absolute;
}
.contact-form-img img {
    width: 100%;
        
}
.contact-form1 {
    padding: 20px 0;
}

.my-5 {
    margin-top: 26rem !important;
    }
    .about-sec1 img {
    width: 100%;
}
.our-plan {
    position: relative;
    left: 0px;
    z-index: 99;
    margin-top: 150px;
}
.our-plan1 img {
    width: 100%;
}
.mb-2 {
    width: 100%;
}
.about-us img {
    width: 100%;
}
.img-fluid  {
    width: 100%;
}
.logos img {
    width: 100%;
    padding: 0px 60px;
}

.contact-form1 {
    padding: 30px 0;
}
.About-banner {
    background-image: url(../images/Banner-about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 36px 0px 36px 0;
}
.pure-water-txt h3 {
    font-size: 28px;
    font-weight: 700;
    padding: 20px 0;

}
.sec-line img {
    width: 100%;
}
.f-menu li {
    color: #fff;
    display:block;
    list-style: none;
}
.Comment-sec {
    display: block;
    padding: 0 0 50px 0;
}
.reply span {
    padding: 0px 0 0px 6em;
}
.Comment {
    padding: 30px 0 30px 0;
}
}


@media only screen and (min-width: 280px) and (max-width: 319px) {
 
.arrowbtn a {
    color: #ffffff;
    text-decoration: none;
    background: #f26522;
    padding: 2px 1px;
    border-radius: 50%;
}
.arrowbtn {
    width: 10%;
    position: relative;
    bottom: 0px;
    left: 40%;
}
.about-sec {
    background: #25272E;
    padding: 26px 0;
}

.adbanner {
    display: flex;
    padding: 60px 0em;
}
.banner-rectangle-text {
    margin-top: 200px;
}
.contact-form-img img {
    width: 100%;
        
}

.my-5 {
    margin-top: 32rem !important;
    }
    .about-sec1 img {
    width: 100%;
}
.row {
    margin: 0;
}
.banner-text {
    background-image: url(../images/rectangle1.png);
    background-repeat: no-repeat;
    height: 500px;
    left: 0px;
    top: 0;
    color: #f2f2f2;
    font-size: 15px;
    padding: 23px 20px;
    position: absolute;
}
.our-plan {
    position: relative;
    left: 0px;
    z-index: 99;
    margin-top:0px;
}
.our-plan1 img {
    width: 100%;
}
.logos img {
    width: 100%;
    padding: 0px 60px;
}

.mb-2 {
    width: 100%;
}
h2 {
    font-size: 21px;
}
.causes-box {
    background: #F3F0EA;
    margin: 0 0 14px 0;
}
.navbar-brand img {
    width: 159px;
}
.about-us img {
    width: 100%;
}
.img-fluid  {
    width: 100%;
}
.contact-form1 {
    padding: 30px 0;
}
.About-banner {
    background-image: url(../images/Banner-about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 36px 0px 36px 0;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 11px;
    text-decoration: none;
    transition: background-color .3s;
}
.recent-post {
    padding: 10px 12px 30px 12px;
    background: #EEF3FA;
}
.category-head {
    padding: 10px 50px 0px 50px;
}
.sec-line img {
    width: 100%;
}
.f-menu li {
    color: #fff;
    display:block;
    list-style: none;
}
.Comment-sec {
    display: block;
    padding: 0 0 50px 0;
}
.reply span {
    padding: 0px 0 0px 6em;
}
.Comment {
    padding: 30px 0 30px 0;
}
.donator {
    background: #EEF3FA;
    padding: 25px 15px;
}
}
@media only screen and (min-width: 820px) and (max-width: 1180px) {
.carity2img{
    margin-top: 130px;
}
}